<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="ProgressBar Suite" parallel="classes" thread-count="10" verbose="2">
	<test name="Helpers">
		<classes>
			<class name="hu.ssh.test.progressbar.helpers.TestHumanTimeFormatter" />
		</classes>
	</test>

	<test name="Console replacers">
		<classes>
			<class name="hu.ssh.test.progressbar.console.replacers.TestBarReplacer" />
			<class name="hu.ssh.test.progressbar.console.replacers.TestElapsedTimeReplacer" />
			<class name="hu.ssh.test.progressbar.console.replacers.TestPercentageReplacer" />
			<class name="hu.ssh.test.progressbar.console.replacers.TestRemainingTimeReplacer" />
			<class name="hu.ssh.test.progressbar.console.replacers.TestTotalTimeReplacer" />
		</classes>
	</test>

	<test name="Console">
		<classes>
			<class name="hu.ssh.test.progressbar.console.TestConsoleProgressBar" />
		</classes>
	</test>

</suite>
